@import '../../../variables.scss';
#text-view-id {
    width: 66%;
    margin: 0 17%;
    h2 {
        color: $red;
    }
    
}

.main-section {
    h1 {
        color: $black;
    }
}



:host {
    ::ng-deep .text-panel {
       
        font-family: "M PLUS Rounded 1c", sans-serif !important;
        
    }    
}

.notation {
    cursor: pointer;
    border-bottom: 2px solid $red;
    border-bottom-style: dashed;

}

.notation:hover {
    cursor: pointer;
    border-bottom: 2px solid $dark-red;
    border-bottom-style: dashed;

}

.book-element:hover {
    text-decoration: underline;
}

.print-version {
    display: none;
}

.resizer {
    user-select: none !important;
    height: 8rem;
    min-height: 8rem !important;
    max-height: 20rem!important;
    border: 1px solid black;
    overflow: hidden;
    resize: vertical;
    cursor: ns-resize;
}

.comment {
    cursor: pointer;
    background: lightcoral;
}

.spanReference{
    cursor: pointer;
    background: lightgreen;
}

.highlight {
    background: lightgreen;
}

.referencedCommentary {
    max-height: 20rem;
    overflow-y: auto;
}

.overlaySpinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}