@import '../../../variables.scss';
#text-view-id {
    width: 66%;
    margin: 0 17%;
    h2 {
        color: $red;
    }
    
}

.main-section {
    h1 {
        color: $black;
    }
}
#interpretative-text {
    
    margin: 1rem!important;
    
}

