<div class="flex flex-1 flex-row" *ngIf="{activeTab : activeTab | async, 
    
    activeLocation : activeLocation | async,
    activeFile : activeFile | async, 
    groupCenturies : groupCenturies | async,
    groupLocations : groupLocations | async,
    groupType : groupTypes | async,
    groupLanguage : groupLanguages | async,
    groupMaterial : groupMaterial | async,
    groupObjectTypes : groupObjectTypes | async,
    groupDuctus : groupDuctus | async,
    groupAlphabet : groupAlphabet | async,
    groupWordDivisionType : groupWordDivisionType | async,
    geoData: geoData | async,
    types : typesList | async,
    pos : posList | async, 
    authors : authorsList | async,
    languages : languagesList | async,
    status : statusList | async,
    totalRecords: totalRecords | async} as advancedSearch">
   <!--  , 
     
    groupAuthors : groupAuthors | async,
    
    groupDates : groupDates | async,
     -->
    <div id="left-bar" class="flex flex-column normal-tabview">


        

        <form id="search-form" class="flex flex-column flex-auto" [formGroup]="advancedSearchForm" (ngSubmit)="buildTextQuery()">

            <p-panel [toggleable]="false" styleClass="dataSource">
                <ng-template pTemplate="header">
                    <span class="w-full text-center">
                        <i class="fa-solid fa-database"></i>
                        <span class="font-bold pl-2">Data sources:</span>
                    </span>
                </ng-template>
            </p-panel>

            <p-panel class="inscription-panel-header cursor-pointer" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                <ng-template pTemplate="header">
                    <span class="w-full">
                        <i class="fa-solid fa-database"></i>
                        <span class="font-bold pl-2">Inscriptions dataset:</span>
                    </span>
                </ng-template>


                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Full Text</span>
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        
                        <input id="float-input" type="text"
                            [placeholder]="!advancedSearchForm.get('greekMode')?.value  ? 'Eg: legù' : 'Eg: λεγϋ'"
                            name="word" formControlName="word" pInputText /> 
                        
                    </div>
                </div>

                <div class="mt-3" >
                    <p-selectButton [options]="inscriptionSearchMode" optionValue="value" formControlName="wordSearchMode" optionLabel="name"></p-selectButton>

                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Title</span>
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        
                        <input id="float-input" type="text" 
                            placeholder="Enter title..."
                            formControlName="title" pInputText /> 
                        
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">ID</span>
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        
                        <input id="float-input" type="text"
                            placeholder="Enter ID..."
                            formControlName="id" pInputText /> 
                        
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Other IDs</span>
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        
                        <input id="float-input" type="text"
                            placeholder="Enter other id's..."
                            formControlName="otherId" pInputText /> 
                        
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Date:</span>
                    <div class="flex pt-3">
                        <p-checkbox [(ngModel)]="isActiveInscriptionInterval" (onChange)="setInscriptionDateInterval()" [binary]="true" label="Interval" [ngModelOptions]="{standalone: true}"></p-checkbox>
                    </div>
    
                    <div class="flex align-items-center pt-3" *ngIf="!isActiveInscriptionInterval">
                        <!-- {{mapInscriptionSingle}} -->
                        {{start}}
                        <p-slider [ngModelOptions]="{standalone: true}" [(ngModel)]="start" [range]="false" [min]="-200" [max]="300" class="w-full mx-5" (onChange)="onChangeSlider($event)"></p-slider>
                    </div>
    
                    <div class="flex align-items-center pt-3" *ngIf="isActiveInscriptionInterval">
    
                        {{mappingInscriptionRange[0]}}
                        <p-slider [ngModelOptions]="{standalone: true}" [(ngModel)]="allowedInscriptionInterval"  [range]="true" class="w-full mx-5" (onChange)="onChangeSlider($event)"></p-slider>
                        {{mappingInscriptionRange[1]}}
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Location:</span>
                    <div class="flex pt-3">
                        <p-autoComplete 
                            [disabled]="!advancedSearch.geoData"
                            (onClear)="clearLocation()"
                            (onSelect)="handleAutocompleteFilterLocation($event)"
                            [suggestions]="(searchLocations | async) || []" 
                            (completeMethod)="autocompleteLocationReq$.next($event)"
                            field="modernName"
                            placeholder="Eg: Samnium"
                            class="w-full"
                            [showClear]="true">

                        <ng-template let-item pTemplate="item">
                            <div>{{item.modernName}}</div>
                        </ng-template>
                    </p-autoComplete>
                    </div>
                    
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Language:</span>
                    <div class="flex pt-3">
                        <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupLanguage) || []" formControlName="language"
                            optionValue="language" optionLabel="language" placeholder="Select language...">
                            <ng-template let-item pTemplate="item">
                                <div class="language-item">
                                    <span class="counter">{{item.language  | labelMapping}} </span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Alphabet:</span>
                    <div class="flex pt-3">
                        <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupAlphabet) || []" formControlName="alphabet"
                            optionValue="alphabet" optionLabel="alphabet" placeholder="Select alphabet...">
                            <ng-template let-item pTemplate="item">
                                <div class="alphabet-item">
                                    <span class="counter">{{item.alphabet}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Object Type:</span>
                    <div class="flex pt-3">
                        <p-dropdown [appendTo]="'body'" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupObjectTypes) || []" formControlName="objectType"
                            optionValue="objectType" optionLabel="objectType" placeholder="Select object type...">
                            <ng-template let-objectType pTemplate="item">
                                <div class="language-item">
                                    <span class="counter">{{objectType.objectType}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Inscription Type:</span>
                    <div class="flex pt-3">
                        <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupType) || []" formControlName="inscriptionType"
                            optionValue="inscriptionType" optionLabel="inscriptionType" placeholder="Select inscription type...">
                            <ng-template let-inscriptionType pTemplate="item">
                                <div class="language-item">
                                    <span class="counter">{{inscriptionType.inscriptionType}} </span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Object Type:</span>
                    <div class="flex pt-3">
                        <p-dropdown [appendTo]="'body'" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupObjectTypes) || []" formControlName="objectType"
                            optionValue="objectType" optionLabel="objectType" placeholder="Select object type...">
                            <ng-template let-objectType pTemplate="item">
                                <div class="language-item">
                                    <span class="counter">{{objectType.objectType}} </span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Material:</span>
                    <div class="flex pt-3">
                        <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupMaterial) || []" formControlName="material"
                            optionValue="material" optionLabel="material" placeholder="Select material...">
                            <ng-template let-materials pTemplate="item">
                                <div class="language-item">
                                    <span class="counter">{{materials.material}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Ductus:</span>
                    <div class="flex pt-3">
                        <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupDuctus) || []" formControlName="ductus"
                            optionValue="ductus" optionLabel="ductus" placeholder="Select ductus...">
                            <ng-template let-ductus pTemplate="item">
                                <div class="ductus-item">
                                    <span class="counter">{{ductus.ductus}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Word division type:</span>
                    <div class="flex pt-3">
                        <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="(advancedSearch.groupWordDivisionType) || []" formControlName="wordDivisionType"
                            optionValue="type" optionLabel="type" placeholder="Select word division type...">
                            <ng-template let-item pTemplate="item">
                                <div class="word-type-item">
                                    <span class="counter">{{item.type}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                
            </p-panel>

            <p-panel class="lexicon-panel-header cursor-pointer" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                <ng-template pTemplate="header">
                    <span class="w-full">
                        <i class="fa-solid fa-database"></i>
                        <span class="font-bold pl-2">Lexicon dataset:</span>
                    </span>
                </ng-template>
                <div class="mt-3" >
                    <p-selectButton (ngModelChange)="onLexiconOptionChange()" [options]="lexiconOptions" optionValue="name" [(ngModel)]="selectedLexiconOption" [ngModelOptions]="{standalone: true}" optionLabel="name"></p-selectButton>

                </div>

                <!-- LEMMA -->
                <div *ngIf="selectedLexiconOption == 'Entry'">
                    <div class="pt-3 flex flex-column" >
                        <span class="text-sm font-medium pt-3">Text:</span>
                        <div class="flex pt-3">
                            <input type="text" class="w-full" formControlName="lexicalEntryText" placeholder="Enter some text..." pInputText />
    
                        </div>
                    </div>

                    <div class="mt-3" >
                        <p-selectButton [options]="lexiconSearchMode" optionValue="value" formControlName="lexicalEntrySearchMode" optionLabel="name"></p-selectButton>
    
                    </div>

                    <div class="pt-3 flex flex-column">
                        <span class="text-sm font-medium">Type:</span>
                        <p-dropdown [showClear]="true" appendTo="body" class="flex-auto pt-3"
                            [options]="(advancedSearch.types) || []" formControlName="lexicalEntryType" optionValue="label"
                            optionLabel="label" placeholder="Type">
                            <ng-template let-type pTemplate="item">
                                <div class="type-item">
                                    <span class="counter">{{type.label}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="pt-3 flex flex-column">
                        <span class="text-sm font-medium">Pos:</span>
                        <p-dropdown [showClear]="true" appendTo="body" placeholder="Pos"
                            class="flex-auto pt-3" [options]="(advancedSearch.pos) || []" formControlName="lexicalEntryPos"
                            optionValue="label" optionLabel="label">
                            <ng-template let-pos pTemplate="item">
                                <div class="pos-item">
                                    <span class="counter">{{pos.label}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
    
                    <div class="pt-3 flex flex-column">
                        <span class="text-sm font-medium">Author:</span>
                        <p-dropdown [showClear]="true" appendTo="body" placeholder="Author"
                            class="flex-auto pt-3" [options]="(advancedSearch.authors) || []"
                            formControlName="lexicalEntryAuthor" optionValue="label" optionLabel="label">
                            <ng-template let-author pTemplate="item">
                                <div class="author-item">
                                    <span class="counter">{{author.label}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
    
                    <div class="pt-3 flex flex-column">
                        <span class="text-sm font-medium">Language:</span>
                        <p-dropdown [showClear]="true" appendTo="body" placeholder="Language"
                            class="flex-auto pt-3" [options]="(advancedSearch.languages) || []"
                            formControlName="lexicalEntryLanguage" optionValue="label" optionLabel="label">
                            <ng-template let-languages pTemplate="item">
                                <div class="languages-item">
                                    <span class="counter">{{languages.label}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
    
                    <div class="pt-3 flex flex-column">
                        <span class="text-sm font-medium">Status:</span>
                        <p-dropdown [showClear]="true" appendTo="body" placeholder="Status"
                            class="flex-auto pt-3" [options]="(advancedSearch.status) || []"
                            formControlName="lexicalEntryStatus" optionValue="label" optionLabel="label">
                            <ng-template let-status pTemplate="item">
                                <div class="status-item">
                                    <span class="counter">{{status.label}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <!-- FORM -->
                <div *ngIf="selectedLexiconOption == 'Form'">
                    <div class="pt-3 flex flex-column" >
                        <span class="text-sm font-medium pt-3">Text:</span>
                        <div class="flex pt-3">
                            <input type="text" class="w-full" formControlName="formText" placeholder="Enter some text..." pInputText />
    
                        </div>
                    </div>

                    <div class="mt-3" >
                        <p-selectButton [options]="formSearchMode" optionValue="value" formControlName="formSearchMode" optionLabel="name"></p-selectButton>
    
                    </div>
    
                    <div class="pt-3 flex flex-column">
                        <span class="text-sm font-medium">Author:</span>
                        <p-dropdown [showClear]="true" appendTo="body" placeholder="Author"
                            class="flex-auto pt-3" [options]="(advancedSearch.authors) || []"
                            formControlName="formAuthor" optionValue="label" optionLabel="label">
                            <ng-template let-author pTemplate="item">
                                <div class="author-item">
                                    <span class="counter">{{author.label}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
    
                   
                </div>

                <div *ngIf="selectedLexiconOption == 'Autocomplete'">
                    <div class="pt-3 flex flex-column" >
                    
                    

                        <span class="text-sm font-medium pt-3">Lemma/Form:</span>
                        <div class="flex pt-3">
                            <p-autoComplete
                                [appendTo]="'body'"
                                (onClear)="clearLexicalEntry()"
                                (onSelect)="handleAutocompleteFilter($event)"
                                [suggestions]="(searchLexicon | async) || []" 
                                (completeMethod)="autocompleteLexiconReq$.next($event)"
                                formControlName="lexicalElementLabel"
                                placeholder="Eg: legù"
                                class="w-full"
                                [group]="true"
                                [showClear]="true"
                                [showEmptyMessage]="true"
                                emptyMessage="No results">
    
                                <!-- Templating per la label del gruppo -->
                                <ng-template let-group pTemplate="group">
                                    <div (click)="onSelectLexicalEntry(group)" style="cursor: pointer;">
                                        <span style="font-size:14px;">{{group.label}}</span>
                                        <span class="text-blue-800" style="font-size:14px;">@{{group.language}}</span>
                                        <span class="text-red-800 pl-2 font-light" style="font-size: 14px">{{group.pos}}</span>
                                    </div>
                                </ng-template>
                                
                                <!-- Templating per gli elementi all'interno del gruppo -->
                                <ng-template let-item pTemplate="item">
                                    <div>
                                        <span style="padding-left: 2rem; padding-right: 1rem; font-size:14px;">{{item.label}}</span>
                                        <span *ngFor="let morpho of item.morphology">
                                            <span *ngIf="morpho.trait != 'partOfSpeech'">
                                                <span style="font-size: 12px" class="text-blue-800">{{morpho.value.split('#')[1]}} </span>
                                            </span>
                                        </span>
                                    </div>
                                </ng-template>
    
                                <!-- <ng-template let-value pTemplate="selectedItem">
                                    <span style="font-size:18px">>{{value}}<</span>
                                </ng-template> -->
    
                            </p-autoComplete>
                        </div>
                        
                    </div>
                </div>
                

                

                

                

            </p-panel>

            <p-panel class="bibliography-panel-header cursor-pointer" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                <ng-template pTemplate="header">
                    <span class="w-full">
                        <i class="fa-solid fa-database"></i>
                        <span class="font-bold pl-2">Bibliography dataset:</span>
                    </span>
                </ng-template>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Title:</span>
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        <input id="float-input" type="text"
                            placeholder="Enter title..." name="title" formControlName="bibliographyTitle" pInputText />
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">ID:</span>
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        <input  id="float-input" type="text" placeholder="Enter ID..."
                            formControlName="bibliographyID" pInputText />

                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Date:</span>
                    <!-- <div class="flex pt-3">
                        <p-checkbox [(ngModel)]="isActiveInterval" [binary]="true" label="Interval"
                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                    </div>
                    <div class="flex pt-3">
                        <p-dropdown (onClear)="clearDates()" appendTo="body" [showClear]="true" class="flex-auto"
                            [options]="(advancedSearch.groupDates) || []" formControlName="bibliographyFromDate"
                            optionValue="date" optionLabel="date" placeholder="Eg: 6th century BC">
                            <ng-template let-date pTemplate="item">
                                <div class="century-item">
                                    <span class="counter">{{date.date}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="flex pt-3" *ngIf="isActiveInterval">
                        <p-dropdown [disabled]="advancedSearchForm.get('fromDate')?.value == null"
                            appendTo="body" [showClear]="true" class="flex-auto"
                            [options]="(advancedSearch.groupDates) || []" formControlName="bibliographyToDate" optionValue="date"
                            optionLabel="date" placeholder="Eg: 6th century BC">
                            <ng-template let-date pTemplate="item">
                                <div class="century-item">
                                    <span class="counter">{{date.date}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div> -->

                    <div class="flex pt-3">
                        <p-checkbox [(ngModel)]="isActiveBibliographyInterval" (onChange)="setBibliographyDateInterval()" [binary]="true" label="Interval" [ngModelOptions]="{standalone: true}"></p-checkbox>
                    </div>
    
                    <div class="flex align-items-center pt-3" *ngIf="!isActiveBibliographyInterval">
                        {{mapBibliographySingle}}
                        <p-slider [ngModelOptions]="{standalone: true}" [(ngModel)]="startBiblio" [range]="false" [min]="1500" [max]="2023" class="w-full mx-5" (onChange)="onChangeBibliographySlider($event)"></p-slider>
                    </div>
                    
                    <div class="flex align-items-center pt-3" *ngIf="isActiveBibliographyInterval">
                        {{mappingBibliograpgyRange[0]}}
                        <p-slider [ngModelOptions]="{standalone: true}" [(ngModel)]="allowedBibliographyInterval"  [range]="true" [min]="1500" [max]="2023" class="w-full mx-5" (onChange)="onChangeBibliographySlider($event)"></p-slider>
                        {{mappingBibliograpgyRange[1]}}
                    </div>
                </div>

                <div class="pt-3 flex flex-column">
                    <span class="text-sm font-medium">Author:</span>
                    <div class="flex pt-3">
                        <!-- <p-dropdown appendTo="body" [showClear]="true" class="flex-auto"
                            [options]="(advancedSearch.groupAuthors) || []" formControlName="bibliographyAuthor"
                            optionValue="name" optionLabel="name" placeholder="Select author...">
                            <ng-template let-item pTemplate="item">
                                <div class="language-item">
                                    <span class="counter">{{item.name}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown> -->
                    </div>
                </div>
            </p-panel>


            


            <div class="flex pt-3 mb-0 mt-auto search-button-div sticky bottom-0">
                <button pButton 
                    (click)="resetFields()"
                    type="button"
                    label="Reset fields" 
                    class="p-button-danger border-noround flex-1"
                    icon="fa-solid fa-times" 
                    iconPos="left">
                </button>
                <button pButton 
                        type="submit"
                        label="Search" 
                        class="p-button-secondary border-noround flex-1"
                        icon="fa-solid fa-search" 
                        iconPos="right">
                </button>
            </div>


        </form>

    </div>

    <div id="search-container" class="flex flex-column flex-1">

        <!-- FILTER -->
        <div id="filter-texts-container" class="flex flex-column text-container-top">
            <div class="flex flex-row align-items-center horizontal-list m-3 text-center">
                <h2 class="flex-1 loading" *ngIf="!advancedSearch.totalRecords && !somethingWrong && advancedSearch.totalRecords != 0">Loading <span>.</span><span>.</span><span>.</span>
                </h2>
                <h2 class="flex-1" *ngIf="somethingWrong">Ops!</h2>
                <h2 class="flex-1" *ngIf="advancedSearch.totalRecords || advancedSearch.totalRecords == 0 && !somethingWrong"><span class="red">{{advancedSearch.totalRecords}} </span>texts found
                </h2>
            </div>
    
    
        </div>



        <div class="flex flex-row flex-wrap ml-5 flex-auto text-item-container" *ngIf="(advancedSearch.totalRecords != 0 && !somethingWrong) && !advancedSearch.activeFile">
            <div class="flex flex-row m-2 w-full" *ngIf="showSpinner">
                <p-progressSpinner class="flex flex-1"></p-progressSpinner>
    
            </div>
    
            <a class="flex no-underline text-item m-2" *ngFor="let item of paginationItems | async"
            [href]="'/texts?file='+item.itAnt_ID" routerLink="/texts" [queryParams]="{file: item.itAnt_ID}">

                <div class="flex flex-row  ">
                    <div class="flex text-item-id p-2">
                        {{item.itAnt_ID}}
                    </div>
    
                    <div class="flex flex-column text-item-preview p-2">
    
                        <div class="text-item-preview-top">
                            {{item.inscriptionTitle != '' ? item.inscriptionTitle : item.itAnt_ID}}
                        </div>
    
                        <div class="text-item-preview-bottom flex flex-column mt-3">
                            <div class="flex flex-row align-items-baseline">
                                <i class="far fa-calendar-alt"></i>
                                <span class="ml-2">{{item.dateOfOrigin}}</span>
                            </div>
                            <div class="flex flex-row align-items-baseline mt-2">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="ml-2">{{item.originalPlace.modernName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
    
        </div>
       


        <p-paginator *ngIf="(advancedSearch.totalRecords != 0 && !somethingWrong) && !advancedSearch.activeFile" [dropdownAppendTo]="'body'" [first]="first" [rows]="rows"
                [totalRecords]="(totalRecords | async) || 0"
                (onPageChange)="pagination($event, (advancedSearch.activeTab || null))"
                [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[8,16,32]"></p-paginator>
            
                
        <div class="m-5 flex flex-row flex-wrap flex-auto text-item-container" *ngIf="advancedSearch.totalRecords == 0 && !somethingWrong">
            no entries
        </div>

        <div class="m-5 flex flex-row flex-wrap flex-auto text-item-container" *ngIf="somethingWrong">
            Something went wrong
        </div>

    </div>

</div>