<div class="flex flex-1 flex-row">

    <div id="left-bar" class="flex flex-column normal-tabview">

        <form id="search-form" class="flex flex-column flex-auto h-full" [formGroup]="advancedSearchForm">


            <p-panel header="Full Text" [toggleable]="false">
                <div class="flex-column start">
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        <input id="float-input" type="text"
                            
                            name="word" pInputText /> 
                        
                    </div>
                
                </div>
            </p-panel>

            <p-panel class="cursor-pointer" header="Title and Id's" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                <div class="flex-column start">
                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        <input id="float-input" type="text" 
                           
                            placeholder="Enter title..."
                            pInputText /> 
                        <p-toggleButton onIcon="exact" offIcon="contains"></p-toggleButton>
                    </div>

                    <div id="text-radio-button" class="pt-2 p-inputgroup">
                        <input id="float-input" type="text"
                            placeholder="Enter ID..."
                             pInputText /> 
                        <p-toggleButton  onIcon="exact" offIcon="contains"></p-toggleButton>
                    </div>
                   <!--  <div class="mt-4">
                        <p-selectButton [options]="searchOptions" ></p-selectButton>
                    </div> -->
                </div>
            </p-panel>

            <p-panel class="cursor-pointer" header="Date" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                <div class="flex pt-3">
                    <p-checkbox [binary]="true" label="Interval" ></p-checkbox>
                </div>
                <div class="flex pt-3">
                    <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="[]" 
                        optionValue="century" optionLabel="label" placeholder="Eg: 6th century BC">
                        <ng-template let-date pTemplate="item">
                            <div class="century-item">
                                <span class="counter">{{date.label}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="flex pt-3">
                    <p-dropdown  appendTo="body"  [showClear]="true" class="flex-auto" [options]="[]" 
                        optionValue="century" optionLabel="label" placeholder="Eg: 6th century BC">
                        <ng-template let-date pTemplate="item">
                            <div class="century-item">
                                <span class="counter">{{date.label}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </p-panel>

            <p-panel class="cursor-pointer" header="Location" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                
                <!-- (onClear)="clearLocation()"
                (onSelect)="handleAutocompleteFilter($event)"
                [suggestions]="(searchLocations | async) || []" 
                (completeMethod)="autocomplete$.next($event)" -->
                <p-autoComplete 
                                
                                field="ancientPlaceLabel"
                                placeholder="Eg: Samnium"
                                [showClear]="true">

                                <ng-template let-item pTemplate="item">
                                    <div>{{item.ancientPlaceLabel}}</div>
                                    <sub>{{item.modernPlaceLabel}}</sub>
                                </ng-template>
                </p-autoComplete>

            </p-panel>


            <p-panel class="cursor-pointer" header="Language" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                
                <div class="flex pt-3">
                    <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="[]" 
                        optionValue="language" optionLabel="language" placeholder="Select language...">
                        <ng-template let-item pTemplate="item">
                            <div class="language-item">
                                <span class="counter">{{item.language}} - {{item.count}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>


            </p-panel>

            <p-panel class="cursor-pointer" header="Inscription Types" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                
                <div class="flex pt-3">
                    <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="[]" 
                        optionValue="inscriptionType" optionLabel="inscriptionType" placeholder="Select inscription type...">
                        <ng-template let-inscriptionType pTemplate="item">
                            <div class="language-item">
                                <span class="counter">{{inscriptionType.inscriptionType}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>


            </p-panel>


            <p-panel class="cursor-pointer" header="Object Types" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                
                <div class="flex pt-3">
                    <p-dropdown [appendTo]="'body'" [showClear]="true" class="flex-auto" [options]="[]" 
                        optionValue="objectType" optionLabel="objectType" placeholder="Select object type...">
                        <ng-template let-objectType pTemplate="item">
                            <div class="language-item">
                                <span class="counter">{{objectType.objectType}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>


            </p-panel>

            <p-panel class="cursor-pointer" header="Materials" [toggleable]="true" [collapsed]="true" [toggler]="'header'">
                
                <div class="flex pt-3">
                    <p-dropdown appendTo="body" [showClear]="true" class="flex-auto" [options]="[]" 
                        optionValue="material" optionLabel="material" placeholder="Select material...">
                        <ng-template let-materials pTemplate="item">
                            <div class="language-item">
                                <span class="counter">{{materials.material}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>


            </p-panel>


            <div class="flex pt-3 mb-0 mt-auto search-button-div sticky bottom-0">
                <button pButton 
                    
                    type="button"
                    label="Reset fields" 
                    class="p-button-danger border-noround flex-1"
                    icon="fa-solid fa-times" 
                    iconPos="left">
                </button>
                
            </div>


        </form>

    </div>

    <div id="search-container" class="flex flex-column flex-1">

        <!-- FILTER -->

       



    </div>

</div>