@import '../../../mixins.scss';
@import '../../../variables.scss';
@import '../../../styles.scss';


#left-bar::after{
    content: "";
    background-image: url('../../../assets/images/l-bg.png');
    //background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -5rem;
    z-index: -1;
    opacity: .5;
}

#home-content {
    padding: 2rem;
    position: relative; 
    
}