<div id="left-bar" class="flex flex-column">
    <ul class="home-menu">
        <a href="/home/project" class="categories no-underline" (click)="$event.preventDefault()" routerLink="./project" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <li class="pl-4 flex align-items-center"> <!-- (click)="index = 1" [class.active]="index == 1" -->
                <span class="icon"></span>
                <span class="route flex-1">Project</span>
            </li>
        </a>

        <a href="/home/about" class="categories no-underline" (click)="$event.preventDefault()" routerLink="./about" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <li class="pl-4 flex align-items-center" routerLink="./about"> <!-- (click)="index = 1" [class.active]="index == 1" -->
                <span class="icon"></span>
                <span class="route flex-1">About us</span>
            </li>
        </a>
        
        <a href="/home/contact" class="categories no-underline" (click)="$event.preventDefault()" routerLink="./contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <li class="pl-4 flex align-items-center" routerLink="./contact"> <!-- (click)="index = 1" [class.active]="index == 1" -->
                <span class="icon"></span>
                <span class="route flex-1">Contact</span>
            </li>
        </a>

        
        <a href="/home/citations" class="categories no-underline" (click)="$event.preventDefault()" routerLink="./citations" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
            <li class="pl-4 flex align-items-center" routerLink="./citations"> <!-- (click)="index = 1" [class.active]="index == 1" -->
                <span class="icon"></span>
                <span class="route flex-1">How to cite?</span>
            </li>
        </a>
    </ul>
</div>

<div id="home-content" class="flex flex-column flex-1" >
    
    <div *ngIf="isMainView">
        <h2 class="mb-5">Benvenuti su DigItAnt – La piattaforma per le lingue dell’Italia antica.</h2>
        <p class="text-sm">DigItAnt è una piattaforma innovativa progettata per supportare studiosi e ricercatori nella creazione, gestione e consultazione di risorse linguistiche digitali per le lingue arcaiche frammentarie dell'Italia antica. </p>
        <p class="text-sm">DigItAnt integra e connette diverse fonti di informazione e consente  la loro esplorazione in un ambiente unificato e facilmente accessibile. </p>
        <p class="text-sm">Lo sviluppo di DigItAnt è stato finanziato dal Ministero dell'Università e della Ricerca nell’ambito del programma Progetti di ricerca di Rilevante Interesse Nazionale (PRIN) 2017.</p>
    </div>
    
    <div *ngIf="!isMainView">
        <router-outlet></router-outlet>    

    </div>
</div>