/* .text-item-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100px;
}
 */
.text-item {
    padding: 1rem;
    border: 5px solid transparent;
    background: #f1f1f1;
    cursor: pointer;

    .text-item-id {
        color: #234b86;
        font-weight: 900;
        width: 5rem;
    }
}

.text-item:hover {
    border-color: #234b86;
    
}

.text-item-preview-top {
    font-weight: 900;
}