<div class="flex flex-column flex-1">
    <div class="flex flex-column flex-auto text-item-container">
        <div class="flex flex-row text-item m-3 " *ngFor="let item of pagination_items" [routerLink]="['/file/'+item.id]">
        
            <div class="flex text-item-id p-2">
                {{item.id}}
            </div>
    
            <div class="text-item-preview p-2 ml-5">
                
                <div class="text-item-preview-top">
                    {{item.title}}
                </div>
    
                <div class="text-item-preview-bottom flex flex-row mt-3">
                    <div class="flex flex-row align-items-baseline">
                        <i class="far fa-calendar-alt"></i>
                        <span class="ml-2">{{item.date}}</span>
                    </div>
                    <div class="flex flex-row ml-5 align-items-baseline">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="ml-2">{{item.place}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>
<p-paginator [rows]="5" [totalRecords]="filtered_items.length" (onPageChange)="pagination($event)" [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[5,10,15]"></p-paginator>
