<div class="flex flex-1 flex-row" *ngIf="{
    activeTab : activeTab | async,
    bookOrLetter : bookOrLetter | async,
    totalRecords : totalRecords | async} as bibliography">

    <div id="left-bar" class="flex flex-column">
        <p-tabView class="normal-tabview">
    
            <p-tabPanel header="Categories">
    
                <ul class="home-menu">
                    <a *ngFor="let filter of allowedFilters" (click)="getAllData()" [href]="'/bibliography?filter='+filter"
                    class="categories no-underline" routerLink="./" [queryParams]="{filter : filter}"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact : false}">
                    <li class="pl-4 flex align-items-center">
                        <span class="icon"></span>
                        <span class="route flex-1">{{filter | titlecase}}</span>
                    </li>
                </a>
                    
                </ul>
            </p-tabPanel>
    
            <p-tabPanel header="Simple search">
                
            </p-tabPanel>
    
        </p-tabView>
    
    </div>


    <div id="bibliography-container" class="flex flex-column flex-1">

        <!-- FILTER -->

        <div id="filter-letter-container" class="flex flex-column text-container-top"
            *ngIf="bibliography.activeTab == 'all' && bibliography.bookOrLetter != 'book'">
            <div class="flex flex-row align-items-center horizontal-list m-3 text-center">
                <h2 class="flex-1 loading" *ngIf="!(bibliography.totalRecords) && !somethingWrong">Loading
                    <span>.</span><span>.</span><span>.</span>
                </h2>
                <h2 class="flex-1" *ngIf="somethingWrong">Ops!</h2>
                <ul class="flex-wrap" *ngIf="(bibliography.totalRecords)  && !somethingWrong">
                   <!--  <li [routerLink]="'./'" [queryParams]="{filter: 'all', letter: alpha.letter}"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
                        class="pl-1 py-2 letter-list-element align-items-center"
                        *ngFor="let alpha of groupAlphabet | async">
                        <a class="letter" (click)="$event.preventDefault()"
                            [href]="'lexicon/filter=all&letter='+alpha.letter">{{alpha.letter ==
                            '*' ?
                            '&#10043;' : alpha.letter | uppercase}}</a>
                    </li> -->
                </ul>

            </div>


        </div>


        



    </div>

</div>


