<div class="flex flex-1 flex-row">

    <div id="left-bar" class="flex flex-column">
        <p-tabView>
    
            <p-tabPanel header="Categories">
    
                <ul class="home-menu">
    
                    
                </ul>
            </p-tabPanel>
    
            <p-tabPanel header="Simple search">
                
            </p-tabPanel>
    
        </p-tabView>
    
    </div>
    
    <div id="texts-container" class="flex flex-column flex-1">
        
        
    </div>

</div>


<div id="word-container" class="flex flex-column flex-auto">
    
    <div class="flex flex-row align-items-center horizontal-list m-3">
        <ul class="flex-wrap">
            <li [routerLink]="'../'+letter" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="pl-1 py-2 align-items-center" *ngFor="let letter of alphabet_array">
                <a (click)="$event.preventDefault()" [href]="'abbreviations/'+letter">{{letter == 'all' ? '&#10043;' : letter | uppercase}}</a>
            </li>
        </ul>
    </div>

    <div class="flex flex-column flex-auto">
        <div class="flex flex-column flex-auto text-item-container mt-3 ml-3 pr-3" *ngIf="filtered_mode_by_letter">
            <a class="flex flex-row text-item m-2" *ngFor="let item of pagination_items">
            
                        <div class="text-item-preview flex-1 p-2">
                            
                            <div class="text-item-preview-top">
                                {{item.label}}
                            </div>
            
                        </div>

                        <div class="text-item-preview-transcription">
                            <div class=" ml-3 p-2">
                                
                                <div class="text-item-preview-bottom flex flex-column justify-content-between">
                                    <div class="flex flex-row align-items-baseline text-container">
                                        <p class="ml-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis vitae est a pretium. Integer commodo quis purus sed consequat. Sed ullamcorper ante et lacus la</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </a>
        </div>
        <div class="flex flex-column flex-auto text-item-container mt-3 ml-3  pr-3" *ngIf="!filtered_mode_by_letter">
            <div class="flex-flex-column flex-auto"  *ngFor="let item of pagination_items | keyvalue">
                <div class="flex flex-column" *ngIf="item.key != 'all'">
                    <h1 class="text-item-id px-3">
                        {{item.key | uppercase}}
                    </h1>
                    <a class="flex flex-row text-item m-2" *ngFor="let word of item.value">
            
                      
                        <div class="text-item-preview flex-1 p-2">
                            
                            <div class="text-item-preview-top">
                                {{word.label}}
                            </div>
            
                        </div>
        
                        <div class="text-item-preview-transcription">
                            <div class=" ml-3 p-2">
                               
                                <div class="text-item-preview-bottom flex flex-column justify-content-between">
                                    <div class="flex flex-row align-items-baseline text-container">
                                        <p class="ml-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis vitae est a pretium. Integer commodo quis purus sed consequat. Sed ullamcorper ante et lacus la</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

        <p-paginator *ngIf="filtered_mode_by_letter" #word_general_paginator class="sticky bottom-0" [first]="first" [rows]="rows" [totalRecords]="filtered_items.length" (onPageChange)="pagination($event)" [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[6,12,24]"></p-paginator><!--  [rowsPerPageOptions]="[6,34,45]" -->

    </div>

    
    
</div>