@import '../../../mixins.scss';

#main-content {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background: white;
    overflow: auto;
    margin: 0 10%;


    @include md {
        margin: 0;

    }


    
    
}
