<div id="theme-container" class="flex flex-column flex-auto">
    
    <div class="flex flex-row align-items-center horizontal-list m-3" *ngIf="all_themes_mode">
        <p class="py-5">To orient yourself and to consult the conceptual “Themes” analysed in the CGRN, please click here.</p>
    </div>

    <div class="flex flex-row align-items-center horizontal-list m-3" *ngIf="filtered_by_theme_mode">
        <button pButton type="button" class="back-button m-3" [routerLink]="'../all'">
            <i class="fas fa-chevron-left"></i> 
            <span class="ml-3">{{'Back to word list' | uppercase}}</span>
        </button>
        <div class="separator mx-3"></div>
        <div class="occurrences">
            There are <span class="enphatize">{{current_occurences}}</span> occurrences of <span class="enphatize">{{current_word}}</span>
        </div>
    </div>

    <div class="flex flex-column flex-auto" *ngIf="all_themes_mode">
        <div class="flex flex-column flex-auto text-item-container mt-3 ml-3 mb-3 pr-3">
            <ul class="flex flex-column word-list">
                <div class="flex flex-none" *ngFor="let item of pagination_items">
                    <li *ngIf="item.items == undefined" class="link-theme m-2" [routerLink]="'../'+item.label.toLowerCase()" (click)="saveTempOccurrences(item.count)">
                        <span class="icon"></span>
                        <span class="ml-2">{{item.label}}</span>
                        <span class="ml-2 counter">({{item.count}})</span>
                    </li>

                    <div class="flex align-items-start" *ngIf="item.items != undefined">
                        <li class="flex flex-row align-items-start m-2 link-subtheme" >
                            <div class="flex flex-row align-items-center">
                                <span class="icon" [routerLink]="'../'+item.label.toLowerCase()" (click)="saveTempOccurrences(item.count)"></span>
                                <span class="ml-2">{{item.label}}</span>
                                <span class="ml-2 counter">({{item.count}})</span>
                            </div>
                        </li>
                        <p-panel [expandIcon]="'far fa-plus-square'" [collapseIcon]="'far fa-minus-square'" header="Title" [collapsed]="true" [toggleable]="true">
                            <ul>
                                <li class="sublink" [routerLink]="'../'+sub_theme.label.toLowerCase()" (click)="saveTempOccurrences(sub_theme.count)" *ngFor="let sub_theme of item.items">
                                    <span class="icon" ></span>
                                    <span class="ml-2">{{sub_theme.label}}</span>
                                    <span class="ml-2 counter">({{sub_theme.count}})</span>
                                </li>
                            </ul>
                        </p-panel>
                    </div>
                   
                    
                </div>
               
            </ul>
        </div>

        <p-paginator class="sticky bottom-0" [first]="first" [rows]="rows" [totalRecords]="filtered_items.length" (onPageChange)="pagination($event)" [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[17,34,45]"></p-paginator><!--  [rowsPerPageOptions]="[17,34,45]" -->

    </div>

    <div id="filtered-words" class="flex flex-column flex-1" *ngIf="filtered_by_theme_mode">
        <div class="flex flex-column flex-1">
            <div class="flex flex-column flex-auto text-item-container">
                <div class="flex flex-row text-item m-2 " *ngFor="let item of pagination_items" [routerLink]="['/file/'+item.id]">
                
                    <div class="flex text-item-id p-2">
                        {{item.id}}
                    </div>
            
                    <div class="text-item-preview flex-1 ml-3 p-2">
                        
                        <div class="text-item-preview-top">
                            {{item.title}}
                        </div>
            
                        <div class="text-item-preview-bottom flex flex-column justify-content-between mt-3">
                            <div class="flex flex-row align-items-baseline">
                                <i class="far fa-calendar-alt"></i>
                                <span class="ml-2">{{item.date}}</span>
                            </div>
                            <div class="flex flex-row align-items-baseline">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="ml-2">{{item.place}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="text-item-preview-transcription">
                        <div class=" ml-3 p-2">
                            <div class="text-item-preview-top-transcription">
                                transcr_type
                            </div>
                            <div class="text-item-preview-bottom flex flex-column justify-content-between mt-3">
                                <div class="flex flex-row align-items-baseline p-2 text-container">
                                    <p class="ml-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc venenatis vitae est a pretium. Integer commodo quis purus sed consequat. Sed ullamcorper ante et lacus la</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        
        </div>
        <p-paginator [rows]="5" [totalRecords]="filtered_items.length" (onPageChange)="pagination($event)" [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[17,34,45]" ></p-paginator> <!-- [rowsPerPageOptions]="[5,10,15]" -->
    </div>
    
</div>