
<div class="flex flex-column relative flex-auto">
    <div id="location-container" class="flex flex-column flex-auto w-full h-full">
        <div class="relative mb-3">
            <div style="height: 400px;"
            leaflet 
            [leafletOptions]="options"
            [leafletLayers]="layers"
            (leafletClick)="onClickMap($event)">
        </div>
        </div>
       
        <div class="flex flex-1 flex-row align-items-center horizontal-list bg-white sticky top-0 mb-3">
            
            <ul class="flex-wrap">
                <li routerLink="../venetum" routerLinkActive="active" class="pl-4 align-items-center">
                    <span class="icon"></span>
                    <a (click)="$event.preventDefault()" href="../venetum">Venetum <span class="counter">(223)</span></a>
                    
                </li>
                <li routerLink="../florence" routerLinkActive="active" class="pl-4 align-items-center">
                    <span class="icon"></span>
                    <a (click)="$event.preventDefault()" href="../florence">Florence <span class="counter">(40)</span></a>
                    
                </li>
                <li routerLink="../rome" routerLinkActive="active" class="pl-4 align-items-center">
                    <span class="icon"></span>
                    <a (click)="$event.preventDefault()" href="../rome">Rome <span class="counter">(12)</span></a>
                    
                </li>
                <li routerLink="../falisc" routerLinkActive="active" class="pl-4 align-items-center">
                    <span class="icon"></span>
                    <a (click)="$event.preventDefault()" href="../falisc">Falisc <span class="counter">(35)</span></a>
                    
                </li>
            </ul>
        </div>
    
        <div id="location-total-container" class="flex flex-column flex-1" *ngIf="current_route == '/browse/location'">
            <div class="flex flex-column flex-auto text-item-container">
                <a class="flex flex-row text-item m-2 no-underline" *ngFor="let item of pagination_items" [href]="'/file/'+item.id" [routerLink]="['/file/'+item.id]">
                
                    <div class="flex text-item-id p-2">
                        {{item.id}}
                    </div>
            
                    <div class="text-item-preview p-2 ml-5">
                        
                        <div class="text-item-preview-top">
                            {{item.title}}
                        </div>
            
                        <div class="text-item-preview-bottom flex flex-row mt-3">
                            <div class="flex flex-row align-items-baseline">
                                <i class="far fa-calendar-alt"></i>
                                <span class="ml-2">{{item.date}}</span>
                            </div>
                            <div class="flex flex-row ml-5 align-items-baseline">
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="ml-2">{{item.place}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    
            
    
            <p-paginator #location_general_paginator class="sticky bottom-0" [rows]="5" [totalRecords]="text_items.length" (onPageChange)="pagination($event)" [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[5,10,15]"></p-paginator>
        </div>
    
        <div id="location-filtered-container" class="flex flex-column flex-1" *ngIf="current_route != '/browse/location'">
            <!-- <router-outlet></router-outlet> -->
    
            <div class="flex flex-column flex-1">
                <div class="flex flex-column flex-auto text-item-container">
                    <a class="flex flex-row text-item m-2 no-underline" *ngFor="let item of pagination_items" [href]="'/file/'+item.id" [routerLink]="['/file/'+item.id]">
                    
                        <div class="flex text-item-id p-2">
                            {{item.id}}
                        </div>
                
                        <div class="text-item-preview p-2 ml-5">
                            
                            <div class="text-item-preview-top">
                                {{item.title}}
                            </div>
                
                            <div class="text-item-preview-bottom flex flex-row mt-3">
                                <div class="flex flex-row align-items-baseline">
                                    <i class="far fa-calendar-alt"></i>
                                    <span class="ml-2">{{item.date}}</span>
                                </div>
                                <div class="flex flex-row ml-5 align-items-baseline">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span class="ml-2">{{item.place}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            
            </div>
            <p-paginator #location_filtered_paginator class="sticky bottom-0" [rows]="5" [totalRecords]="filtered_items.length" (onPageChange)="pagination($event)" [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[5,10,15]"></p-paginator>
            
        </div>
        
    </div>
    
</div>