<div id="left-bar" class="flex flex-column">
    <ul>
        <li routerLink="/browse" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="pl-4 align-items-center">
            <span class="icon"></span>
            <a >All</a>
        </li>
        <li routerLink="/browse/date" routerLinkActive="active"  class="pl-4 align-items-center">
            <span class="icon"></span>
            <a >By date</a>
        </li>
        <li routerLink="/browse/location" routerLinkActive="active"  class="pl-4 align-items-center">
            <span class="icon"></span>
            <a >By location</a>
        </li>
        <li routerLink="/browse/word" routerLinkActive="active"  class="pl-4 align-items-center">
            <span class="icon"></span>
            <a >By greek word</a>
        </li>
        <li  routerLink="/browse/type" routerLinkActive="active"  class="pl-4 align-items-center">
            <span class="icon"></span>
            <a>By type of text</a>
        </li>
        <li routerLink="/browse/theme" routerLinkActive="active"  class="pl-4 align-items-center">
            <span class="icon"></span>
            <a >By theme</a>
        </li>
    </ul>
</div>

<div id="browse-content" class="flex flex-column flex-1" *ngIf="current_route == '/browse'">
    <div class="flex flex-column flex-auto text-item-container">

        <div class="flex flex-row text-item m-3" *ngFor="let item of pagination_items" [routerLink]="['/file/'+item.id]">
            
            <div class="flex text-item-id p-2">
                {{item.id}}
            </div>

            <div class="text-item-preview p-2 ml-5">
                
                <div class="text-item-preview-top">
                    {{item.title}}
                </div>

                <div class="text-item-preview-bottom flex flex-row mt-3">
                    <div class="flex flex-row align-items-baseline">
                        <i class="far fa-calendar-alt"></i>
                        <span class="ml-2">{{item.date}}</span>
                    </div>
                    <div class="flex flex-row ml-5 align-items-baseline">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="ml-2">{{item.place}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-paginator [rows]="5" [totalRecords]="text_items.length" (onPageChange)="pagination($event)" [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[5,10,15]"></p-paginator>
    
</div>

<div id="browse-content" class="flex flex-column flex-1 text-item-container" *ngIf="current_route != '/browse'">
    <router-outlet></router-outlet>
    
</div>
