
<div class="flex flex-1 flex-row" *ngIf="{texts : texts | async} as concordances">

    <div id="left-bar" class="flex flex-column">
        
        <ul class="home-menu">

            
            <li>
                <a  class="categories no-underline">
                    <li class="pl-4 flex align-items-center" (click)="printDocument()">
                        <span class="icon"></span>
                        <span class="route flex-1">Print/Save PDF</span>
                    </li>
                </a>
            </li>
            

            

        </ul>
    
    </div>
    <div id="conventions-content" class="flex flex-column flex-1">

        <div class="flex flex-column flex-auto overflow-auto px-3 pt-3" style="height: 100px;" *ngIf="concordances.texts">
            
            <p-table #concordancesTable [paginator]="true" [rows]="6"  [value]="(texts | async) || []" responsiveLayout="scroll" [scrollable]="true" scrollHeight="flex">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="itAnt_ID" style="max-width:200px">ItAnt ID <p-sortIcon field="itAnt_ID"></p-sortIcon></th>
                        <th pSortableColumn="inscriptionTitle" style="min-width:200px">Title <p-sortIcon field="inscriptionTitle"></p-sortIcon></th>
                        <th pSortableColumn="trismegistos.trismegistosID" style="min-width:200px">Trismegistos ID <p-sortIcon field="trismegistos.trismegistosID"></p-sortIcon></th>
                        <th  style="min-width:200px">Other IDs</th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="itAnt_ID" matchMode="contains"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="inscriptionTitle" matchMode="contains"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="trismegistos.trismegistosID" matchMode="contains"></p-columnFilter>
                        </th>
                        <th>
                            <input pInputText type="text" (input)="concordancesTable.filter(getInputValue($event), 'traditionalIDs', 'custom')">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="max-width:200px">{{product.itAnt_ID}}</td>
                        <td style="min-width:200px">{{product.inscriptionTitle != '' ? product.inscriptionTitle : product.title}}</td>
                        <td style="min-width:200px"> 
                            <a [href]="'//'+product.trismegistos.trismegistosID_url" target="_blank">{{product.trismegistos.trismegistosID}}</a>
                        </td>
                        <td style="min-width:200px">
                            <div *ngIf="product.traditionalIDs && (product.traditionalIDs | isArray)">
                                <div *ngFor="let traditionalId of product.traditionalIDs">
                                    <a [href]="traditionalId.traditionalID_URL" target="_blank">{{traditionalId.traditionalID}}</a>
                                </div>
                            </div>
                            <div *ngIf="product.traditionalIDs && !(product.traditionalIDs | isArray)">
                                
                                <a [href]="product.traditionalIDs.traditionalID_URL" target="_blank">{{product.traditionalIDs.traditionalID}}</a>
                                
                            </div>
                            
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="flex flex-column flex-auto overflow-auto px-3 pt-3" *ngIf="!concordances.texts">
            Loading...
        </div>
       
    </div>
</div>


