#navbar-logo {
    font-weight: 600;
    color: #64748b;
    user-select: none !important;
    display: flex;
    flex: 1;
    margin-left: 25%;
    font-size: .85rem;
}

a {
    text-decoration: none;
}