
<div id="navbar">
    <p-toolbar class="block">

        <!-- TODO: RESPONSIVE -->
        <div class="p-toolbar-group-left">
            <a href="/home" (click)="$event.preventDefault()">                
                <button routerLink="/home" routerLinkActive="active" pButton pRipple type="button" label="Home" class="p-button-secondary p-button-text"></button>
            </a>
            <button [iconPos]="'right'" icon="fa-solid fa-sort-down" [ngClass]="{'active': isActive}"  pButton pRipple type="button" label="Browse" class="p-button-secondary p-button-text align-items-stretch" (click)="menu.toggle($event)"></button>
            <p-menu [appendTo]="'body'"  #menu [popup]="true" [model]="items"></p-menu>
            <a href="/advancedsearch" (click)="$event.preventDefault()">
                <button routerLink="/advancedsearch" routerLinkActive="active"  pButton pRipple type="button" [label]="'Search+'" class="p-button-secondary p-button-text"></button>

            </a>
        </div>
        <div id="navbar-logo">
            EpiLexO Search
        </div>
    
       
        
        
    </p-toolbar>

</div>
