@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');

body,
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    overflow: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//NAVBAR
#navbar {
    .p-toolbar {
        padding: 1.25rem 4rem !important;
        border-radius: 0 !important;
    }

    .p-inputgroup .p-inputwrapper>.p-component{
        width: 100% !important;
    }

    .p-component{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 400;
    }

    #navbar-logo {
        font-weight: 600;
    }

    .p-button.p-button-secondary.p-button-text.active {
        
        background-color: #64748B;
        color: white;
        border-color: #64748B;
        
    }
}