@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap');
@import 'mixins.scss';
@import 'variables.scss';

body,
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
    overflow: hidden !important;

    @include sm {
        overflow: auto !important;
    }

    @include md {
        overflow: auto !important;
    }

    @include xs {
        overflow: auto !important;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-autocomplete-panel {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.p-menu {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-size: .85rem !important;
}

//NAVBAR
#navbar {
    .p-toolbar {
        padding: .5rem 10% !important;
        border-radius: 0 !important;
        position: sticky !important;
        top: 0;
    }

    .p-inputgroup .p-inputwrapper>.p-component{
        width: 100% !important;
    }

    .p-component{
        font-size: 0.85rem;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 400;
    }

    .p-button.p-button-secondary.p-button-text.active {
        
        background-color: $dark-gray;
        color: white;
        border-color: $dark-gray;   
    }

    .p-menubar {
        flex-direction: row-reverse !important;
        border-radius: 0 !important;

        z-index: 1;

        @include md {
            position: fixed !important;
            top: 0 !important;
            width: 100%;
        }
    
        @include sm {
            position: fixed !important;
            top: 0 !important;
            width: 100%;
        }

        .p-menubar-end {
            margin-left: 0 !important;
            margin-right: auto !important;
        }
    }
}

#left-bar{
    background-color: $black;
    color: white;
    width: 30%;
    position: relative;
    z-index: 1;

    @include xs {
        display: none !important;
    }

    ul.home-menu,
    .p-tabview-panel > ul,
    .text-simple-search{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        background: $transparentBlack;

        

        a.categories{ 
            color: white;
            display: flex;
            font-weight: 800;
            cursor: pointer;
            user-select: none;
            position: relative;

            span.icon {
                font-family: 'Font Awesome 6 Free';
                font-weight: 900;
                font-size: .5rem;
                width: .85rem;
               
            }

            span.icon::before{
                
                content: '\f111'
                
            }

            span.route {
                padding: 1rem;
                color: white;
                text-decoration: none;
                font-size: .85rem;
            }
        }

        a.categories.active {
            background: $red !important;

            /* span.icon {
                background: url('assets/images/bullet.png');
                background-size: cover;
                background-color: white;
                border-radius: 50%;
                width: .85rem;
                height: .85rem;
                
            }

            span.icon::before {
                content: '';
               
            } */
        }

        a.categories:hover {
            background: $red !important;
            
            span.icon {
                color: $dark-gray;
                
            }
        }

        a.categories:nth-child(even) {
            background: #2b2e31;
        }
    }

    p-panel {

        .p-panel-header{
            background: #00000082 !important;
            color: white !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border: none !important;
            font-family: 'M PLUS Rounded 1c', sans-serif !important;
            font-size: .85rem;
        }

        .p-panel-header-icon{
            color: white !important;
        }

        .p-panel-header-icon:focus {
            box-shadow: none !important;
        }

        .p-panel-header-icon:enabled:hover {
            background: none !important;
            color: white !important;
        }

        .p-panel-content {
            background: transparent !important;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border: 0 !important;
            color: unset !important;
            padding-top: 0;
            font-family: 'M PLUS Rounded 1c', sans-serif !important;

            p-togglebutton {
        
                .p-button {
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    height: 100% !important;
                    border-left: 0 !important;
                    font-family: 'M PLUS Rounded 1c', sans-serif !important;
                }
        
                .p-button:focus {
                    box-shadow: none !important;
                }
        
                .omega, .latin {
                    font-family: 'M PLUS Rounded 1c', sans-serif !important;
                    font-weight: 700 !important;
                    // color: white(0, 0, 0, 0.452) !important;
                    font-size: 1rem !important;
                }

                .contains, .exact {
                    font-family: 'Font Awesome 6 Free' !important;
                    font-weight: 700 !important;
                }
        
                .omega::before{
                    
                    content: '\03a9' !important;
                }


        
                .latin::before{
                    
                    content: 'Ab' !important;
                }

        
                .contains::before{
                    
                    content: '\f00d' !important;
                }

                .exact::before{
                    
                    content: '\f00c' !important;
                }
        
        
                .p-button-icon-only {
                    padding: 0 !important;
                }
                
            }
            input {
                font-family: 'M PLUS Rounded 1c', sans-serif !important;
                font-weight: 400 !important;
                font-size: .85rem;
            }
            .p-selectbutton{
                display: flex;
    
                .p-button {
                    font-size: .85rem;
                    padding: .75rem;
                    flex: 1;
                }
    
                span {
                    font-family: 'M PLUS Rounded 1c', sans-serif !important;
                    font-weight: 400;
                }
            }

            h4{
                color: white;
                display: flex;
                font-weight: 800;
                user-select: none;
            }

            


            .p-autocomplete {

                display: flex;
                input {
                    flex: 1;
                }
            }

            p-checkbox {
                label{
                    color: white;
                    font-size: .85rem;
                }
            }
        }
    }
}

#left-bar::after{
    content: "";
    background-image: url('assets/images/l-bg.png');
    //background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: -5rem;
    z-index: -1;
    opacity: .5;
}

#texts-container,
#date-container {
    //padding: 2rem;
    .text-container-top{
        min-height: 5rem;
    }

    .horizontal-list{
        border-top: 2px solid #dee2e6;
        border-bottom: 2px solid #dee2e6;
        border-left: transparent;
        border-right: transparent;
        border-style: dashed;
        max-height: 8rem;
        min-height: 5rem;
        overflow-y: auto;
        color: #64748B;

        @keyframes blinkdot {
            0% { opacity: .2; }
            20% { opacity: 1; }
            100% { opacity: .2; }
        }

        .loading{
            font-weight: 700;
        }

        .loading span{
            animation-name: blinkdot;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }

        .loading span:nth-child(2) {
            animation-delay: .2s;
        }
        .loading span:nth-child(3) {
            animation-delay: .4s;
        }

        h1{
            font-weight: 400;
        }

        .red {
            color: $red;
            font-weight: 700;
        }
    }

    .text-item-container{
        align-content: baseline;
        overflow-y: auto;
        height: 100px;

        
    }

    p-paginator {

        button, span {
            font-size: .85rem;
        }

        .p-dropdown {
            height: unset;
        }
    }
    
    .text-item {
        padding: 1rem;
        border: 5px solid transparent;
        background: $light-gray;
        cursor: pointer;
        flex: 0 0 45%;
        font-size: .85rem;
        
        .text-item-id {
            word-break: break-all;
            width: 7rem;
            color: $red;
            font-weight: 900;
        }
    }

    .text-item:hover {
        border-color: $red;
        
    }

    .text-item-preview {
        color: $dark-gray;
        flex: 10;
    }

    .text-item-preview-top {
        color: $black;
        font-weight: 900;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        li{ 
            color: #64748B;
            display: flex;
            font-weight: 400;
            cursor: pointer;
            

            .icon {
                font-family: 'Font Awesome 6 Free';
                font-weight: 900;

                font-size: .75rem;
            }

            .icon::before{
                
                content: '\f111'
            }

            a {
                padding: 0.5rem;
                text-decoration: none;
                color: unset;
            }

            a:hover{
                text-decoration: underline;
            }
        }

    

        li.century-list-element,
        li.type-list-element {
            background-color: $light-gray;
            font-size: .85rem;
            a{
                color: $dark-gray;
            }

            .p-badge {
                background: $red;
                font-family: 'M PLUS Rounded 1c', sans-serif !important;
            }
        }

        li.century-list-element:hover,
        li.type-list-element:hover {
            background-color: $light-gray-hover;
            
            a{
                color: $dark-gray;
            }

            .p-badge {
                background: $red;
                font-family: 'M PLUS Rounded 1c', sans-serif !important;
            }
        }

        li.century-list-element.active,
        li.type-list-element.active {
            background-color: $dark-gray;
            
            a{
                color: white;
            }

            .p-badge {
                background: $red;
                font-family: 'M PLUS Rounded 1c', sans-serif !important;
            }
        }
       
    } 
}

p-tabview {
    display: flex !important;
    flex-direction: column!important;
    flex: 1 1 auto!important;
    height: 100px;
    overflow-y: auto;

    .p-tabview {
        display: flex !important;
        flex-direction: column !important;
        flex: 1 !important;

        .p-tabview-nav {
            font-size: .85rem !important;
            background: $black!important;

            .p-tabview-nav-link {
                font-family: 'M PLUS Rounded 1c', sans-serif !important;
                background: transparent !important;
            }

            li.p-highlight .p-tabview-nav-link {
                color: white;
                border-color: $red;
            }

            .p-tabview-ink-bar {
                background-color: $red;
            }
        }

        .p-tabview-nav-container{
            position: sticky;
            top: 0;
            z-index: 9999;
        }

        .p-tabview-panels {
            font-family: 'M PLUS Rounded 1c', sans-serif !important;
            padding: 0 !important;
            background: transparent!important;
            display: flex;
            flex-direction: column;
            flex: auto;
        }

        .p-tabview-panel {
           height: 100%;
        }

        .search-button-div button{
            background: $black;
            color: white;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: none;
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-size: 0.85rem;
        }

        .search-button-div button:focus{
            box-shadow: none !important;
        }
    }
}

        

.p-dropdown {
    width: 100% !important;
}

.p-dropdown-label{
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 400 !important;
    font-size: .85rem !important;
}

.p-dropdown-items {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 400 !important;
    font-size: .85rem !important;
}

.counter {
    font-weight: 900;
    color: $red !important;
}


//HOME
app-home,
app-texts,
app-lexicon,
app-search,
app-bibliography,
app-concordances{
    display: flex !important;
    flex: 1 1 auto !important;
    //position: relative !important;
}



app-subdate,
app-sublocation{
    flex-direction: column;
}

app-theme {

    p-panel {
        .p-panel-icons-end{
            margin: 0 !important;
        }
        .p-panel-title {
            display: none !important;
        }
        .p-panel-header{
            padding: 0 !important;
            border: 0 !important;
            background: transparent !important;
            margin-top: 0.2rem !important;

        }

        .p-toggleable-content{
            margin-left: -4rem !important;
        }

        .p-panel-content {
            padding: 0.5rem !important;
            
            border: 0 !important;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-weight: 700;

            ul{
                flex-direction: column !important;

                li {
                    margin: .5rem 0 !important;
                    
                }

                li.sublink:hover{
                    color: #234b86 !important;
                    .icon {
                        color : #234b86 !important;
                    }
                }
            }
        }
    }
}

app-search {
    
    p-togglebutton {
        
        .p-button {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            height: 100% !important;
            border-left: 0 !important;
        }

        .p-button:focus {
            box-shadow: none !important;
        }

        .omega {
            font-family: 'M PLUS Rounded 1c', sans-serif !important;
            font-weight: 700 !important;
            color: white(0, 0, 0, 0.452) !important;
            font-size: 1.5rem !important;
        }

        .omega::before{
            
            content: '\03a9' !important;
        }

        .latin {
            font-family: 'M PLUS Rounded 1c', sans-serif !important;
            font-weight: 700 !important;
            color: white(0, 0, 0, 0.452) !important;
            font-size: 1.5rem !important;
        }

        .latin::before{
            
            content: 'Ab' !important;
        }


        .p-button-icon-only {
            padding: 0 !important;
        }
    }

    input {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none !important;
        border-color: none !important;
        font-family: 'M PLUS Rounded 1c', sans-serif !important;
        font-weight: 400 !important;
    }

    

    .p-radiobutton {
        position: inherit !important;   
    }

    
}

.p-dropdown-panel {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 400 !important;
}

app-conventions,
app-glossary,
app-concordances {
    table {
        font-family: 'M PLUS Rounded 1c', sans-serif !important;
        font-weight: 400 !important;

        tr:nth-child(even){
            background-color: #dee2e6 !important;
        }

        thead{
            th {
                background-color: #dee2e6 !important;
                font-style: italic !important;
            }
        }
    }

    p-table {
        flex: 1 !important;
    }
}

app-footer {
    .p-toolbar {
        border-radius: 0 !important;
        padding: .7rem !important;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        @include md {
            position: fixed !important;
            bottom: 0 !important;
            width: 100%;
            z-index: 4;
            padding: .3rem;
        }
    
        @include sm {
            position: fixed !important;
            bottom: 0 !important;
            width: 100%;
            z-index: 4;
            padding: .3rem;

        }

        @include xs {
            padding: .3rem;
        }
    }
}