<div class="flex flex-1 flex-row" *ngIf="{
    activeTab : activeTab | async,
    activeLetter : activeLetter | async,
    activeLanguage : activeLanguage | async,
    activePos : activePos | async,
    wordOrLetter : wordOrLetter | async,
    groupLanguage : groupLanguages | async,
    groupPos: groupPos | async,
    totalRecords: totalRecords | async} as lexicon">

    <div id="left-bar" class="flex flex-column">
        <p-tabView>

            <p-tabPanel header="Categories">

                <ul class="home-menu">

                    <a *ngFor="let filter of allowedFilters" (click)="getAllData()" [href]="'/texts?filter='+filter"
                        class="categories no-underline" routerLink="./" [queryParams]="{filter : filter}"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : false}">
                        <li class="pl-4 flex align-items-center">
                            <span class="icon"></span>
                            <span class="route flex-1">{{filter | titlecase}}</span>
                        </li>
                    </a>
                </ul>
            </p-tabPanel>

            <p-tabPanel header="Simple search">

            </p-tabPanel>

        </p-tabView>

    </div>

    <div id="lexicon-container" class="flex flex-column flex-1">

        <!-- FILTER -->
        
        <div id="filter-letter-container" class="flex flex-column text-container-top"
            *ngIf="lexicon.activeTab == 'all' && lexicon.wordOrLetter != 'word'">
            <div class="flex flex-row align-items-center horizontal-list m-3 text-center">
                <h2 class="flex-1 loading" *ngIf="!(lexicon.totalRecords) && !somethingWrong">Loading
                    <span>.</span><span>.</span><span>.</span> </h2>
                <h2 class="flex-1" *ngIf="somethingWrong">Ops!</h2>
                <ul class="flex-wrap" *ngIf="(lexicon.totalRecords)  && !somethingWrong">
                    <li [routerLink]="'./'" [queryParams]="{filter: 'all', letter: alpha.letter}"
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
                        class="pl-1 py-2 letter-list-element align-items-center"
                        *ngFor="let alpha of groupAlphabet | async">
                        <a class="letter" (click)="$event.preventDefault()"
                            [href]="'lexicon/filter=all&letter='+alpha.letter">{{alpha.letter ==
                            '*' ?
                            '&#10043;' : alpha.letter | uppercase}}</a>
                    </li>
                </ul>

            </div>


        </div>

        <div id="filter-language-container" class="flex flex-column text-container-top" *ngIf="lexicon.activeTab == 'language'">
            <div class="flex flex-row horizontal-list m-3 text-container-top">
                <h2 class="loading text-center flex-1 flex align-items-center justify-content-center"
                    *ngIf="!lexicon.groupLanguage">Loading <span>.</span><span>.</span><span>.</span></h2>
    
                <ul class="flex-wrap align-items-center" *ngIf="lexicon.groupLanguage">
    
                    <li *ngFor="let item of lexicon.groupLanguage" [class.active]="lexicon.activeLanguage == item.language"
                        
                        class="my-2 mr-2 align-items-center border-round-2xl century-list-element" routerLink="./"
                        [queryParams]="{filter: 'language', language: item.language}">
                        <p-badge class="p-2 pr-0" value="{{item.count}}"></p-badge>
                        <a class="no-underline font-bold">{{item.language}}</a>
                    </li>
    
    
                </ul>
            </div>
        </div>

        <div id="filter-pos-container" class="flex flex-column text-container-top" *ngIf="lexicon.activeTab == 'pos'">
            <div class="flex flex-row horizontal-list m-3 text-container-top">
                <h2 class="loading text-center flex-1 flex align-items-center justify-content-center"
                    *ngIf="!lexicon.groupPos">Loading <span>.</span><span>.</span><span>.</span></h2>
                <ul class="flex-wrap align-items-center" *ngIf="lexicon.groupPos">
    
                    <li *ngFor="let item of lexicon.groupPos" [class.active]="(lexicon.activePos == item.pos) || (lexicon.activePos == 'unknown' && item.pos == '')"
                        
                        class="my-2 mr-2 align-items-center border-round-2xl century-list-element" routerLink="./"
                        [queryParams]="{filter: 'pos', pos: (item.pos != '' ? item.pos : 'unknown')}">
                        <p-badge class="p-2 pr-0" value="{{item.count}}"></p-badge>
                        <a class="no-underline font-bold">{{item.pos != '' ? item.pos : 'unkown'}}</a>
                    </li>
    
    
                </ul>
            </div>
        </div>


        <!-- CONTENT -->
        <div class="flex flex-row flex-wrap flex-auto lexicon-item-container p-3" *ngIf="lexicon.wordOrLetter == '' || lexicon.wordOrLetter != 'word'">
            <div class="flex flex-row m-2 w-full" *ngIf="!lexicon.totalRecords">
                <p-progressSpinner class="flex flex-1"></p-progressSpinner>

            </div>

            <a class="flex no-underline lexicon-item m-2" *ngFor="let item of paginationItems | async">
                <div class="flex flex-row">
                    <div class="flex text-item-id p-2">
                        {{item.label}}
                    </div>

                    <div class="flex flex-column text-item-preview p-2">
    
                        <div class="text-item-preview-top">
                            {{item.lexicalEntryInstanceName}}
                        </div>
    
                        <div class="text-item-preview-bottom flex flex-column mt-3">
                            <div class="flex flex-row align-items-baseline">
                                <i class="far fa-calendar-alt"></i>
                                <span class="ml-2">{{item.creationDate | date :'short'}}</span>
                            </div>
                            <div class="flex flex-row align-items-baseline mt-2">
                                <span class="pos"></span>
                                <span class="ml-2" [class.font-italic]="item.pos == ''">{{item.pos != '' ? item.pos : 'no info'}}</span>
                            </div>
                            <div class="flex flex-row align-items-baseline mt-2">
                                <i class="fas fa-language"></i>
                                <span class="ml-2">{{item.language}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <p-paginator *ngIf="lexicon.totalRecords != 0 && !somethingWrong && lexicon.wordOrLetter != 'word'" [dropdownAppendTo]="'body'" [first]="first"
            [rows]="rows" [totalRecords]="(totalRecords | async) || 0"
            (onPageChange)="pagination($event, (lexicon.wordOrLetter || null), (lexicon.activeLetter || null), (lexicon.activeTab || null), (lexicon.activeLanguage || null), (lexicon.activePos || null))"
            [showJumpToPageDropdown]="true" [rowsPerPageOptions]="[10,20,30]"></p-paginator>

        <div class="flex flex-row flex-wrap flex-auto text-item-container p-3"
            *ngIf="lexicon.totalRecords == 0 && !somethingWrong && lexicon.wordOrLetter != 'word'">
            no entries
        </div>

        <div class="flex flex-row flex-wrap flex-auto text-item-container p-3" *ngIf="somethingWrong">
            Something went wrong
        </div>



    </div>

</div>