@import '../../../variables.scss';

.etyLink:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $blue;
}

.attestation:hover {
    text-decoration: underline;
}

.fill-space{
    flex: 1 1 auto;
    overflow: auto;
    height: 100px;
}

.hide {
    display: none !important;
}