<p-toolbar>
    <div class="p-toolbar-group-left">
        

    </div>
    <div class="footer-images" class="flex align-items-center">
        <a href="https://www.unive.it/" target="_blank">
            <img class="unive" src="assets/images/cafoscari.png"  alt="Image" width="100"/>
        </a>
        <a href="https://www.unifi.it/" class="ml-5" target="_blank">
            <img class="unifi" src="assets/images/unifi.png" alt="Image" width="100"/>
        </a>
        <a href="http://www.ilc.cnr.it/" class="ml-5" target="_blank">        
            <img class="ilc" src="assets/images/ilc-cnr.png"  alt="Image" width="40"/>
        </a>
    </div>
    
    <div class="p-toolbar-group-right">
        
    </div>
</p-toolbar>